<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wfPr20_Var1.Properties.Settings.Рыбный_магазинConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Рыбный магазин.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>